@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.label-floating input:not(:placeholder-shown) {
  padding-top: 1.4rem;
}
.label-floating input:not(:placeholder-shown) ~ label {
  font-size: 0.6rem;
  transition: all 0.2s ease-in-out;
  color: #1f9d55;
}

.floating-input > input::placeholder {
  color: transparent;
}

.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
  @apply pt-8;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1;
}

